{% extends 'base.html' %}

{% block title %} PasteHub {% endblock %}

{% block content %}

<h2 class="display-3">New Paste</h2>

{% if user.is_authenticated %}
<form>
  Paste Name/Title:
  <input type="text" name="pasteName">
  <br>
  <textarea class="form-control emmet-syntax-html" rows="14" name="html-text"></textarea>
  <br>
  <input class="btn btn-success btn-lg center-block" type="submit" value="Submit">
</form>
{% else %}
<p> In order to create a new paste you need to be logged in! </p>
<a href="{% url 'login' %}"> click here to login </a>
<br>
<a href="{% url 'signup' %}"> click here to signup </a>
{% endif %}



{% endblock %}
